PORT=5000

MONGO_URI=mongodb://127.0.0.1:27017/mobile-recharge

JWT_SECRET=your_secret

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=yourgmail@gmail.com
SMTP_PASS=your_google_app_password

EMAIL_FROM=yourgmail@gmail.com
